body{
  margin: 0;
  /* background-image: url('./image/pexels-fwstudio-164005.jpg'); */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 0;
  /* margin-top: 1rem; */
  min-height: 80vh;
}

h1 {
  font-size: 32px;
  color: #fbfaf8;
  margin-bottom: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.sub{
  font-size: small;
  margin-top: 3rem;
  margin-left: 3rem;
  font-style: italic;
}

.App-footer {

  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 0;
}


.chart-container {
  margin-top: 1rem;
  background-color: #282c34;
  border-radius: 10px;
  width: 60%;
  padding: 0;
  max-height: 60%;
}

h2 {
  font-size: 24px;
  color: #faf8f8;
 
}

.submit-button {
  background-color: #bf4729;
  height: 13vh;
  width: 20rem;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}
.export-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.chart {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.chart canvas {
  width: 100% !important;
  height: auto !important;
}

.export-button:hover,
.submit-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  .submit-button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .export-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
button {
  --button-default-height: 48px;
--button-default-font-size: 14px;
--button-default-border-radius: 6px;
--button-horizontal-padding: 20px;
--button-raise-level: 5px;
--button-hover-pressure: 2;
--transform-speed: .185s;
--button-primary-color: #475472;
--button-primary-color-dark: #2a3143;
--button-primary-color-light: #d4d9e4;
--button-primary-color-hover: #424e6a;
--button-primary-border: none;
--button-secondary-color: #fffc6c;
--button-secondary-color-dark: #b9b500;
--button-secondary-color-light: #6c6a00;
--button-secondary-color-hover: #fffb3e;
--button-secondary-border: none;
--button-anchor-color: #f3c8ad;
--button-anchor-color-dark: #734922;
--button-anchor-color-light: #4c3016;
--button-anchor-color-hover: #f1bfa0;
--button-anchor-border: 1px solid #8c633c;

  position: relative;
  overflow: hidden;
  border: none;
  background-color: var(--button-primary-color);
  color: #fff;
  padding: 0 var(--button-horizontal-padding);
  height: var(--button-default-height);
  font-size: var(--button-default-font-size);
  border-radius: var(--button-default-border-radius);
  cursor: pointer;
  transition: transform var(--transform-speed);
  box-shadow: 0 var(--button-raise-level) 0 0 rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: perspective(800px) rotateY(-10deg);
  background-color: var(--button-primary-color-hover);
  box-shadow: 0 calc(var(--button-raise-level) - 1px) 0 0 rgba(0, 0, 0, 0.1);
}

button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform-origin: right;
  transform: skewY(10deg);
  z-index: -1;
}

button:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform-origin: left;
  transform: skewY(-10deg);
  z-index: -1;
}

button:active {
  transform: perspective(800px) rotateY(10deg);
  box-shadow: none;
}

button:focus {
  outline: none;
}







@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position:relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 63%;
  width: 139px;
  height: 139px;
  bottom: -139px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 68%;
  width: 144px;
  height: 144px;
  bottom: -144px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 25%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 41%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 4s;
}
.background li:nth-child(4) {
  left: 42%;
  width: 139px;
  height: 139px;
  bottom: -139px;
  animation-delay: 12s;
}
.background li:nth-child(5) {
  left: 82%;
  width: 141px;
  height: 141px;
  bottom: -141px;
  animation-delay: 25s;
}
.background li:nth-child(6) {
  left: 22%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 21s;
}
.background li:nth-child(7) {
  left: 3%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 11s;
}
.background li:nth-child(8) {
  left: 21%;
  width: 164px;
  height: 164px;
  bottom: -164px;
  animation-delay: 35s;
}
.background li:nth-child(9) {
  left: 83%;
  width: 124px;
  height: 124px;
  bottom: -124px;
  animation-delay: 6s;
}